---
import Layout from '../layouts/Layout.astro';
import HeroCover from '../components/HeroCover.astro';
import Book3D from '../components/Book3D.astro';
---

<Layout>
  <main class="content-container">
    <HeroCover />
    <Book3D />
  </main>
</Layout>
