---
---

<section class="hero-section">
  <div class="hero-content">
    <div class="main-title-container">
      <h2 class="title-thin">TU ERES</h2>
      <h1 class="title-chunky">LAS 12</h1>
      <h1 class="title-chunky">RAZONES</h1>
      <h2 class="title-thin">DE MI CORAZÓN</h2>
    </div>

    <p class="cover-dedication">
      12 capítulos que cuentan nuestra historia, desde el inicio hasta hoy. Cada uno escrito con el corazón. <br />
      Dedicado a mi niña hermosa Jimena, espero y estes leyendo esto y disfutes de lo que he hecho con amor para ti
    </p>

    <a href="/libro" class="cta-button" id="start-book-btn">
      <span class="cta-text">Tu Libro</span>
      <span class="cta-heart">🖤</span>
    </a>
  </div>
</section>
